# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y
# CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_zn_m2="ipq-wifi-zn_m2"
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_zn_m2=n
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_luci-proto-quectel=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

#  USB without Support
CONFIG_PACKAGE_kmod-usb-acm=n
CONFIG_PACKAGE_kmod-usb-ehci=n
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=n
CONFIG_PACKAGE_kmod-usb-net-ipheth=n
CONFIG_PACKAGE_kmod-usb-net-rndis=n
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152=n
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=n
CONFIG_PACKAGE_kmod-usb-ohci=n
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb2=n

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Package
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_easytier=n
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=n
CONFIG_PACKAGE_usbmuxd=n
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y

# ADD Package


#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6
#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y

# ADD Luci App
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
# nlbwmon
CONFIG_PACKAGE_nlbwmon=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
# ddns
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_ddns-scripts_dnspod=y
# qosmate or sqm
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_qosmate=y
CONFIG_PACKAGE_luci-app-qosmate=y
# theme
CONFIG_PACKAGE_luci-theme-argon=y


# Disable Luci App
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-easytier=n
CONFIG_PACKAGE_luci-app-istorex=n
CONFIG_PACKAGE_luci-app-lucky=n
CONFIG_PACKAGE_luci-app-mosdns=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-oaf=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
